@import url('https://fonts.googleapis.com/css?family=Roboto|Stylish&display=swap');

:root {
  --black: rgba(0, 0, 0, 1);
  --oasis-green: rgba(131, 151, 136, 1);
  --sandy: rgba(238, 224, 203, 1);
  --shady-sand: rgba(186, 168, 152, 1);
  --oasis-blue: rgba(191, 215, 234, 1);
}

h1 {
  text-align: center;
}
.container {
  display: grid;

  grid-template-areas:
    "header header header"
    "nav content aside"
    "footer footer footer";
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: auto 1fr 200px;
  grid-gap: 10px;
  height: 100vh;
}

header {
  grid-area: header;
}


.logorow {
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  padding: 5px;
  margin: auto;
}

.nav {
  grid-area: nav;
  margin-left: 0.5rem;
  background: rgba (240, 255, 255);
  background: rgba(240, 255, 255, 0.5);
  text-align: center;
  border: 5px solid gold;
  color: darkblue;
  padding: 2px;
}

.card {
  border: 2px solid gold;
  border-radius: 5%;
  padding: 2px;
  
}

main {
  grid-area: content;
  /* background-color:  azure; */
  /* border: 5px solid gold; */
  /* padding-top: 10px; */
  color:darkblue;
  margin: 0px;
   height: 100%;
   width: 100%;
}

aside {
  grid-area: aside;
  margin-right: 0.5rem;
  background: rgba (240, 255, 255);
  background: rgba(240, 255, 255, 0.5);
  border: 5px solid gold;
  color: darkblue;
  height: 200px;
}

footer {
  grid-area: footer;
  background-color: azure;
  height: 50px;
  color: cornflowerblue;
  font-size: 10px;
}
.wish {
  font-family: Helvetica, sans-serif;
  margin: 20px;
}

.wish-x {
  margin: 10px;
  background-color: red;
  color: azure;
}

.wish-edit {
  margin: 10px;
  background-color: aliceblue;
}

.wish-grant {
  margin: 10px;
  background-color: mediumslateblue;
  color: azure;
}

form {
  display: grid;
  grid-template-columns: [labels] auto [controls] 1fr;
  grid-auto-flow: row;
  grid-gap: .3em;
  background: darkblue;
  padding: 7px;
  margin: 2px;
}

form > label  {
  grid-column: labels;
  grid-row: auto;
}

form > input,
form > textarea,
form > button {
  grid-column: controls;
  grid-row: auto;
  border: none;
  padding: .2em;
  margin: 2px;
}

body {
  margin: 0;
  background-image: url('https://images.unsplash.com/photo-1513002749550-c59d786b8e6c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max');
  background-repeat: repeat-y;
  background-size: cover;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "nav"
      "content"
      "aside"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      minmax(200px, auto) /* Nav */
      1fr /* Content */
      minmax(75px, auto) /* Sidebar */
      auto; /* Footer */
  }

  nav, aside {
    margin: 0;
  }
  nav {
    padding: 20px 20%;
  }
}
